
	<div class="container-fluid about-us-wrapper">
   <div class="div-heading">    
    	<img src="img/about_img.png" class="img-about-us img-fluid">
    </div>
     <div class="divideline"> </div>

    <div class="empty-space1" style="height:79px;"></div>
        <h6 class="about-me" uk-scrollspy="cls:uk-animation-slide-bottom">ABOUT ME</h6>
    
		<div class="empty-space2" style="height:41px;"></div>
    
		<h2 class="bradley-smith" uk-scrollspy="cls:uk-animation-slide-bottom">BRADLEY SMITH</h2>
    
		<div class="empty-space3" style="height:43px;"></div>
    
		<div class="div-bradley-image" uk-scrollspy="cls:uk-animation-slide-bottom">
    		<figure>
						<img class="bradley-image" src="img/about_author.jpg">        
    		</figure>
    </div>
		
    <div class="row" uk-scrollspy="cls:uk-animation-slide-bottom">
    	<div class="col-sm-12 col-md-12 col-lg-12 div-bradley-desc">
    		<p class="bradley-desc"> I use various techniques such as enhancing lighting or using specialized filters or lenses, to set the scene for film or digital photographs. I am a photographer who shoot digital images then upload them to a computer, while those who use film cameras outsource their film for processing or develop it themselves. I also use computer software to modify images, such as cropping them or correcting their color. 
        </p>
			</div>
		</div>
	</div>
    
	<div class="div-signature" style="margin-bottom : 30px !important;" uk-scrollspy="cls:uk-animation-slide-bottom">
    	<img class="signature" src="img/alexander_lihiliho-300x55.png">
  </div>
		
    <div class="div-icons" uk-scrollspy="cls:uk-animation-slide-bottom">
    		<p class="p-icons">   
    			<a class="icons">
    				<i class="fa fa-facebook fa-fw" style="color: #435c93" aria-hidden="true"></i>   
    			</a>    
					<a class="icons">
						<i class="fa fa-twitter fa-fw" style="color: #6bace8" aria-hidden="true"></i>   
					</a>  
					<a class="icons">
    				<i class="fa fa-google-plus fa-fw" style="color: #b05140" aria-hidden="true"></i>   
    			</a>  
    			<a class="icons"  >
    				<i class="fa fa-pinterest-p fa-fw" style="color: #ea413d" aria-hidden="true"></i>
    			</a> 
    		</p>     
    </div> 
		<div uk-scrollspy="cls:uk-animation-slide-bottom">
    <div class="div-what-i-do">  
    	<h6 class="about-me">WHAT I DO</h6>    
    </div>
    <div class="div-caption">
    		<p class="about-us-caption">
    			Intelligent, inspired projects reflective of the style, personality,
    			<br>
					and values of our clients.
				</p>    
    </div>
    </div>
        
   <div class="about-us-image-row-wrapper" uk-scrollspy="cls:uk-animation-slide-bottom">
 
    <div class="one-image image-1">
       <img class="actual-img img-responsive" src="img/portraits03.jpg">    
     		<div class="div-image-strip-content">
        <h3 class="image-strip-content"><strong>Potraits</strong></h3>
			</div>
      
			<div class="about-us-image-row-overlay"></div>
    </div>
    
    <div class="two-image image-2">
    	<img class="actual-img img-responsive" src="img/wedding01.jpg">        
      	<div class="div-image-strip-content">
        		<h3 class="image-strip-content"><strong>Weddings</strong></h3>
			</div>     
			<div class="about-us-image-row-overlay"></div>
		 </div>   
  
    <div class="three-image image-3 ">
    	<img class="actual-img img-responsive" src="img/518.jpg">        
      <div class="div-image-strip-content">
      <h3 class="image-strip-content"><strong>Art</strong></h3>
			</div>    
			<div class="about-us-image-row-overlay"></div>
		 </div> 
    
    
    <div class="four-image image-4">
    	<img class="actual-img img-responsive" src="img/animals01.jpg">        
      <div class="div-image-strip-content">
        <h3 class="image-strip-content"><strong>Nature</strong></h3></div>
            <div class="about-us-image-row-overlay">
			</div>
		 </div>     
 		</div>  
   
        
  <div style="padding: 14px 35px 15px 35px;margin-bottom:90px !important;" uk-scrollspy="cls:uk-animation-slide-bottom">
  	<div style="text-align: center;">
  			<a class="btn-gradient-primary a-button" style="border-radius: 30px;">SEE MORE <img src="img/right_arrow.png" height="13px" width="23px"> 
			</a>
		</div>
  </div> 
        
 <div class="accordion-outer-wrapper" uk-scrollspy="cls:uk-animation-slide-bottom">
	 <div class=" row accordion-button-wrapper"> 
		 <div class="col-sm-4 col-md-4 col-lg-4">  
			 	<button type="button" class="btn  custom-button" data-toggle="collapse" data-target="#accordion_panel_1" style="margin-right:10%;">MISSION</button>
		 </div>  
   
		 <div class="col-sm-4 col-md-4 col-lg-4"> 
			 <button type="button" class="btn  custom-button " data-toggle="collapse" data-target="#accordion_panel_2" style="margin-left:10%;margin-right:10%;">PRINCIPLES</button>
		 </div>    

 
		 <div class="col-sm-4 col-md-4 col-lg-4">     
			 <button type="button" class="btn  custom-button " data-toggle="collapse" data-target="#accordion_panel_3" style="margin-left:10%;">PHILOSOPHY</button>
 		</div>
	 </div>

	 	<br><br>
  <div id="accordion_panel_1" class="collapse">
    Photographers must have a solid understanding of camera functions, lighting and composition. They also must be able to use image manipulation software and have fundamental knowledge of darkroom equipment and procedures. Since the majority of photographers are self-employed, some background in business and marketing also is valuable. 
  </div>
    
   <div id="accordion_panel_2" class="collapse">
   A photograph has dimension and a point of view, but in the end it is a slice of time, and a managed slice of time at that. It is orchestrated whether you believe it or not.  You set up your camera, you press the shutter release, the camera operates, film or an electronic sensor is exposed.  It all happens very quickly.  From the point of view of the photograph there is no before, no after, and nothing outside the bounds of the frame.  Often a moment or two makes all the difference in whether the photograph is good or bad.
  </div>
  
  <div id="accordion_panel_3" class="collapse">
    The purpose of the journal is to provide a forum for debate on theoretical issues arising from the historical, political, cultural, scientific and critical matrix of ideas, practices and techniques that may be said to constitute photography as a multifaceted form.
  </div>
</div>    
       
    <div class=" row spinningNumber" id="div-spinning-numbers" uk-scrollspy="cls:uk-animation-slide-bottom">
			<div class="container">
    		<div class="col-sm-2 spin-first-col"></div>
        
  
				<div class="col-sm-8 spin-first-col">
    			<div class="row row-centered">

    					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-centered">
      					<div class="bounceInLeft">
     
										<div class="counter aboutus_stat_count" data-count="241"></div>
										<div class = "people_text_about">
										HAPPY CUSTOMERS
										</div>
								</div>
    					</div>

						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-centered">
							<div class="bounceIn">
								<div class = "counter aboutus_stat_count" data-count="567">
								</div>
								<div class = "heart_text_about">
								 PROJECTS COMPLETED
							</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-centered">
							 <div class="bounceIn"> 
									<div class = "counter aboutus_stat_count" data-count="35">
								 </div>
							 <div class = "award_text_about">
									AWARDS WINNIN
								</div>
							</div>
						</div>
    		</div>
    
					<div class="col-sm-2 spin-first-col" ></div>    
    	</div>    
		</div>
  </div>
     
    
    <div class="about-us-video row" uk-scrollspy="cls:uk-animation-slide-bottom">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    		<div class="about-us-watch-video-container">
    				<figure class="about-us-watch-video-fig">
    					<a class="about-us-watch-video-a" id='modal-launcher' data-toggle="modal" data-target="#video-modal" target="_self">
								<img src="img/watch_video_button.png" class="about-us-watch-video-img" height="50" width="175">
							</a>    
    				</figure>    
    		</div>    
    	</div>    
    </div>    
		<div>
<div class="modal fade" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content videoModal">
     	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2  id="myModalLabel"></h2>
      </div>
      <div class="modal-body" style="padding:0px;">
      	<div class="embed-responsive embed-responsive-16by9">
      		<iframe src="https://player.vimeo.com/video/46024248" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
    	</div>
  	</div>
</div>
</div>
             
          
    <div class="div-testimonials" style="margin-top: 120px !important">
      <div class="row">
  			<div class="col-md-6" style="padding-bottom:50px;" uk-scrollspy="cls:uk-animation-slide-bottom">  
    			<div style="text-align: center;">
      			<img src="img/test1.jpg" class="img-circle" style="width:100px; height: 100px;">
						<p class="testimonial-p">&#8220;Bradley is master at freezing those unforgettable moments and are such a pleasure to work with!&#8221;</p>
      			<span class="testimonial-font">JAY STEPHENS</span>
					</div>
				</div>

  			<div class="col-md-6" style="padding-bottom:50px;" uk-scrollspy="cls:uk-animation-slide-bottom">
					<div style="text-align: center;">
      			<img src="img/test2.jpg" class="img-circle" style="width:100px; height: 100px;">
  						<p class="testimonial-p">&#8220;Bradley & his team are those behind the scenes wedding pro’s that just make a wedding day go smooth.&#8221;</p>
      		<span class="testimonial-font">LUCILE MARSHALL</span>
					</div>
      	</div>
  		</div>    
		</div>
        
    <div style="padding: 14px 35px 15px 35px ;" uk-scrollspy="cls:uk-animation-slide-bottom">
  		<div style="text-align: center;">
  			<a class="btn-gradient-primary a-button" style="border-radius: 30px;">SEE MORE <img src="img/right_arrow.png" height="13px" width="23px"> </a>
			</div>
  	</div>    
        
     <div class="empty-space3" style="height:79px;"></div>    
    	<div class="about-me" style="margin-top:90px;" uk-scrollspy="cls:uk-animation-slide-bottom">PRICING PLANS</div>
    <div class="empty-space4" style="height:79px;"></div>  
          
		<div class="row pricing-plan-row" style="padding-left:3%;padding-right:3%;">
  		<div class=" pricing-plan-wrap col-sm-4 col-lg-4 col-md-4" uk-scrollspy="cls:uk-animation-slide-left">
    		<div class="pricing-plan-coll">   
    			<div class="item-cost-wrapper">
    					<h6 class="price_item_title">BASIC PLAN</h6>
    						<div class="price-content">
    							<span class="price-item-prefix"> $ </span>
    							<span class="price-value"> 29 </span>
    							<span class="price-item-suffix"> 99 </span>    
    						</div>    
    						<p class="price-item-description" style="padding-bottom:10px;">Potrait Session </p>
    			</div> 
    			<div class="price-item-body"> 
    			<div class="items-text ">    
    				<ul class="pricing-plan-ul">
    				<li class="pricing-plan-li"><img src="img/menu_down.png" class="menu-down-icon">  No more than 3 people </li>
    				<li class="pricing-plan-li"> <img src="img/menu_down.png" class="menu-down-icon"> 1-2 Hours on Location </li>
						<li class="pricing-plan-li"> <img src="img/menu_down.png" class="menu-down-icon"> 2 Outfit Changes </li>
						<li class="pricing-plan-li">  <img src="img/menu_down.png" class="menu-down-icon">20 Images </li>
						<li class="pricing-plan-li"> <img src="img/menu_down.png" class="menu-down-icon"> Lo-res Images for Web </li>
						<li class="pricing-plan-li"> <img src="img/menu_down.png" class="menu-down-icon"> Hi-res Images on CD </li>
						</ul>
					</div>    
    
    			<div class="pricing-plan-buttonwrap">
						<div class="w3-animate-bottom w3-center">
							<a   class="btn-gradient-primary">SELECT PLAN <img src="img/right_arrow.png" height="13px" width="23px" style="padding-bottom:5px"> </a>
						</div>
					</div>
         </div> 
  		</div>
     </div>
    
    
  <div class="pricing-plan-wrap col-sm-4 col-md-4 col-lg-4" uk-scrollspy="cls:uk-animation-slide-bottom">
    <div class="pricing-plan-coll">  
			<div class="item-cost-wrapper popular">
    		<h6 class="price_item_title" style="color:white;">EVENT PLAN</h6>
    			<div class="price-content-popular">
    				<span class="price-item-prefix"> $ </span>
						<span class="price-value"> 39 </span>
						<span class="price-item-suffix"> 99 </span>    
					</div>    
    				<p class="price-item-description"> Wedding Session </p>
    	</div> 
    <div class="price-item-body"> 
    	<div class="items-text">    
    		<ul class="pricing-plan-ul">
				<li class="pricing-plan-li"> <img src="img/menu_down.png" class="menu-down-icon">  Pre-Wedding Consultation </li>
				<li class="pricing-plan-li">  <img src="img/menu_down.png" class="menu-down-icon"> 2 Photographers</li>
				<li class="pricing-plan-li"> <img src="img/menu_down.png" class="menu-down-icon">  100 Images</li>
				<li class="pricing-plan-li"> <img src="img/menu_down.png" class="menu-down-icon">  Image Editing </li>
				<li class="pricing-plan-li"> <img src="img/menu_down.png" class="menu-down-icon">  Hi-res Images on DVD </li>
				<li class="pricing-plan-li"> <img src="img/menu_down.png" class="menu-down-icon">  Low-res Images for Web </li>
				</ul>
    </div>    
   
    <div class="pricing-plan-buttonwrap">
			<div class="">
  			<a class="btn-gradient-secondary">SELECT PLAN <img src="img/right_arrow.png" height="13px" width="23px" style="padding-bottom:5px"> 
				</a>
			</div>
  	</div> 
		</div>    
		</div>
  </div>
  
  <div class="pricing-plan-wrap col-sm-4  col-md-4 col-lg-4" uk-scrollspy="cls:uk-animation-slide-right">
		<div class="pricing-plan-coll">  
   		<div class="item-cost-wrapper">
    		<h6 class="price_item_title">CREATIVE PLAN</h6>
    			<div class="price-content">
						<span class="price-item-prefix"> $ </span>
						<span class="price-value"> 49 </span>
						<span class="price-item-suffix"> 99 </span>    
    			</div>    
    			<p class="price-item-description"> Creative Session </p>
    	</div> 
			<div class="price-item-body"> 
				<div class="items-text">    
				<ul class="pricing-plan-ul">
				<li class="pricing-plan-li"> <img src="img/menu_down.png" class="menu-down-icon">  No more than 1 person </li>
				<li class="pricing-plan-li"> <img src="img/menu_down.png" class="menu-down-icon">  1-2 Hours on Location </li>
				<li class="pricing-plan-li"> <img src="img/menu_down.png" class="menu-down-icon">  2 Outfit Changes </li>
				<li class="pricing-plan-li"> <img src="img/menu_down.png" class="menu-down-icon">  20 Images </li>
				<li class="pricing-plan-li">  <img src="img/menu_down.png" class="menu-down-icon"> Lo-res Images for Web </li>
				<li class="pricing-plan-li"> <img src="img/menu_down.png" class="menu-down-icon">  Hi-res Images on CD </li>
				</ul>
			</div>    

    	<div class="pricing-plan-buttonwrap">
  			<div class="w3-animate-bottom w3-center">
  				<a class="btn-gradient-primary">SELECT PLAN <img src="img/right_arrow.png" height="13px" width="23px" style="padding-bottom:5px"> </a>
				</div>
			</div>
			</div>  
  	</div>

			</div>
   </div>

    
	<script type="text/javascript" src="js/spinningNumbers.js"></script>

<div class="pre-footer"><pre-footer></pre-footer></div>
<script src="js/startAtTop.js"></script>