<div>
	<div class="row" style="margin-right:auto;margin-left:auto;">
		<div class="col-sm-6">
			<div id="map"></div>
		</div>

  <div class="col-sm-6">
			
		<div class="contacts_header"><h1>Contacts</h1></div>			
			<div class="contacts_para_wrap">
				<p class="contacts_para">Welcome to my Website. I am glad to have you around. If you need to contact me,
						you can use the details below. Have a nice day!
				</p>
			</div>
				
			<div class="contacts_add">
				<div class="fa fa-map-marker contacts_icons"></div>
				<div class="contacts_add_text">72 Keara Vista Suite 028, <br>
							North Deonstad, FL 33068 
				</div>
			</div>
			
			<div class="contacts_add">
				<div class="fa fa-phone contacts_icons"></div>
				<div class="contacts_add_text">826 696 8370 <br>
							826 696 8372 
				</div>
			</div>
			
			
			<div class="contacts_add">
				<div class="fa fa-envelope contacts_icons"></div>
				<div class="contacts_add_text">
							teambradley27@yahoo.com <br>
				</div>
			</div>
			
			<div class="contacts_add" id="reSize">
				<a class="contacts_social"><i class="fa fa-facebook-f "></i></a>
				<a class="contacts_social">	<i class="fa fa-twitter "></i></a>
				<a class="contacts_social">	<i class="fa fa-google-plus " ></i></a>
				<a class="contacts_social"><i class="fa fa-pinterest" ></i></a>
			</div>
			

			<div class="contacts_form">
				<div class="text-center">
					<pre class="above-para-font" id="reSize" style="background:#000000;border:none">GET IN TOUCH</pre>
				</div>
			<div class="contact_inputbox_wrap">
				<input class="contact_inputbox" type="text" placeholder="Name*">
				<input class="contact_inputbox" type="text" placeholder="Email*">
				<input style="padding:20px 15px 100px 15px;border-radius:20px;" class="contact_inputbox" type="text" placeholder="Message">
			</div>
				
			<div style="margin:30px 0px;">
				<a class="btn-gradient-primary">BOOK NOW <img src="img/right_arrow.png" class="btn-arrow"> </a>
			</div>
			</div>
		
		</div>
	</div>
</div>

<div class="pre-footer"><pre-footer></pre-footer></div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3HhJrXy11XlCntGyEZDVtx-3i7QQuwqI&callback=initMap">
    </script>
<script type="text/javascript" src="js/contactMap.js"></script>
<script src="js/startAtTop.js"></script>