<div class="errorBgImg" style="background-image: url('img/bg_404.jpg');">
    <div class="wrapperError">
			<div class = "titleError">OOPS, PAGE NOT FOUND!	</div>
        <div class="content_404">It's looking like you may have taken a wrong turn. Don't worry it happens to the best of us.</div>
        	<div class="goHomeBtnWrapper">
            <a ui-sref="home">
                <button  class="btn-gradient-primary prevBtn">Go home <img src="img/right_arrow.png" class="btn-arrow">
                </button>
            </a>
        </div>
    </div>
</div>