

<div class="text-center">
	<div class="container" id="footWrap">
  	  <div class="row">
    
  		<div class="col-md-3 footer-common" >  
           <img src="img/footer_logo.png" alt="Bradley" class="footer-first-image" >
           <br> <br>
    		<p class="footer-first-description" >72 Keara Vista Suite 028, North Deonstad, FL 33068</p>
    		<br>
    		<a class="footer-wiz-link" href="wizephoto@example.com">wizephoto@example.com</a>
    		<br><br>
    
            <a class="footer-icon"  href="https://en-gb.facebook.com/login/">
					<i class="fa">&#xf082; </i>
			</a>
			<a  class="footer-icon" href="https://twitter.com/login">
				<i class="fa">&#xf099;</i>
			</a>
			<a class="footer-icon" href="https://www.instagram.com/accounts/login/">
			<i class="fa">&#xf16d;</i>
			</a>
        </div>

  	    <div class="col-md-3 footer-common" >  
			<p class="footerUseFulLinks"> Useful Links</p> <br>
				<a> <span class="footer-links">About Me</span> </a> <br><br>
				<a> <span class="footer-links">Photo Portfolio</span> </a> <br><br>
				<a> <span class="footer-links">FAQ & Help</span> </a> <br><br>
				<a> <span class="footer-links">Privacy Policy</span> </a> <br><br>
				<a> <span class="footer-links">Terms of Use</span> </a> <br>
        </div>
    
        <div class="col-md-3 footer-common" >
            <p class="footer-second" >flickr&nbsp;photos</p><br>
            <table>
      	      <tr>
              <td> 
				  <a href="https://www.flickr.com/photos/91205275@N03/22694668487/">
							<img class="footer-flickr-img" src="http://farm1.staticflickr.com/633/22694668487_c085cc046b_m.jpg" title="Flickr" alt="Sand">
				  </a>
              </td>
              <td> 
				  <a href="https://www.flickr.com/photos/91205275@N03/23086944676/">
							<img src="http://farm1.staticflickr.com/670/23086944676_c0ab647046_m.jpg"  title="Flickr"  class="footer-flickr-img" alt="Statue of Liberty">
				  </a>
              </td>
              <td> 
				  <a href="https://www.flickr.com/photos/91205275@N03/22490283834/">
							<img class="footer-flickr-img"  src="http://farm6.staticflickr.com/5665/22490283834_4b9ab771f2_m.jpg"  title="Flickr" alt="Beach">
				  </a>
              </td>
              </tr>	
 			  <tr>
				 <td>
					 <a href="https://www.flickr.com/photos/91205275@N03/23086944816/">
						 <img src="http://farm1.staticflickr.com/614/23086944816_1de7eeaec2_m.jpg" title="Flickr"  class="footer-flickr-img" alt="Outdoor">
					 </a>
				</td>
                <td>
					 <a href="https://www.flickr.com/photos/91205275@N03/22694619218/">
						 <img src="http://farm1.staticflickr.com/632/22694619218_59eb511865_m.jpg" title="Flickr"   class="footer-flickr-img" alt="Sunshine">
					 </a>
				</td>
                <td>
				     <a href="https://www.flickr.com/photos/91205275@N03/22694619208/">
							<img src="http://farm1.staticflickr.com/689/22694619208_a3ac4e103f_m.jpg" title="Flickr"   class="footer-flickr-img" alt="Fitness">
				     </a>
				</td>
				</tr>
           </table>
       </div>

       <div class="col-md-3 footer-para-wrapper">  
          <div>
             <p class="footer-para">
               I believe its our purpose to 
               Serve & Inspire by Artistic Visual Storytelling.
      	     </p> <br><br>
         </div>
  	     <a class="btn-gradient-footer" ui-sref="contacts">let's talk <img src="img/right_arrow.png" class="btn-arrow-footer"> </a>
       </div> 
	   <div uk-scrollspy="cls:uk-animation-fade;delay: 100; repeat: true">
         <a href="#back2top" class="back2top" data-uk-smooth-scroll uk-scroll ></a>
       </div>
    </div>
  </div>
</div>