<div class="container" style="padding-top:5%;" id="responsiveWrap">
 <div class="row">  
   <div class="col-sm-1 col-md-1"></div>
  	<div class="col-sm-10 col-md-10">  
      <div uk-scrollspy="cls:uk-animation-slide-bottom">
    		<div style="text-align: center;">
      		<span class="above-para-font">ABOUT ME</span>
  				<p class="para-font" style="">&#8220;<span ng-bind = "aboutmeMsg"></span>&#8221;</p>
				</div>
      </div>
	 	</div>
    <div class="col-sm-1 col-md-1"></div>
	</div>
</div>

<div uk-scrollspy="cls:uk-animation-slide-bottom">
  <div style="padding:50px 0px 50px 0px">
		<div style="text-align: center;">
			<a ui-sref="aboutUs" class="btn-gradient-primary">LEARN MORE <img src="img/right_arrow.png" class="btn-arrow"> </a>
		</div>
  </div>
</div>