<div class="spinningNumber" uk-scrollspy="cls:uk-animation-fade">
	<div class="container" id="check">
  	<div class="animated">
  		<div class ="wrapper">
  			<div class="row row-centered text-asm-centered">
					
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-centered text-asm-centered">
      			<div class="bounceInLeft">
      				<div class = "people_icon_wrapper">
        				<img src="img/people.png" alt="" class="runningicons" >
        				<div class = "counter stat_count" data-count="241"></div>
								<div class = "people_text">
        				HAPPY CUSTOMERS
        				</div>
      				</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-centered text-asm-centered">
						<div class="bounceIn">
						<div class = "heart_icon_wrapper">
							<img src="img/heart.jpg" alt=""  class="runningicons" >
							<div class = "counter stat_count" data-count="7946">
							</div>
							<div class = "heart_text">
								FOLLOWERS
							</div>
						</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-centered text-asm-centered">
						<div class="bounceIn">
							<div class = "award_icon_wrapper">
								<img src="img/award.png" alt=""  class="runningicons" >
								<div class = "counter stat_count" data-count="35"></div>
									<div class = "award_text">
										AWARDS WINNING
									</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-centered  text-asm-centered">
						<div class="bounceInRight">
						<div class = "photo_icon_wrapper">
							<img src="img/photos.png" alt=""  class="runningicons" >
							<div class = "counter stat_count" data-count="8203">
						 </div>
							<div class = "photo_text">
								PHOTOS TAKEN
							</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="divideline"> </div>